.home-container {
  height: 91vh;
  width: 96vw;
  background: linear-gradient(135deg, #ff5252, #42a5f5, #ffee58);
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #fdfdfd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.equipos-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  align-items: flex-start;
}

.equipo-card {

  background: rgba(216, 216, 216, 0.64);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 75%;
  font-display: flex;
  flex-direction: column;
}

.nombre-equipo {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0;
  color: rgb(0, 0, 0);
  border-radius: 8px;
}

.pokemon-linea {
  display: flex;
  gap: 75px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.pokemon-celda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100px;
  min-width: 100px;
  flex-shrink: 0;
}

.pokemon-celda img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.pokemon-celda p {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.pokemon-celda.slot-vacio {
  border: 2px dashed #5f5f5f;
}

.equipo-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}


.equipo-actions button {
  background-color: #f44336;
  border: none;
  color: white;
  width: 200px;;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: wrap;
}

.equipo-actions button:hover {
  background-color: #c62828;
}

.crear-equipo-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.crear-equipo-btn-container button {
  padding: 0.7rem 3rem;
  background-color: #ae32bc;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crear-equipo-btn-container button:hover {
  background-color: #ba48c5;
}

.sin-equipos {
  margin-top: 3rem;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.sin-pokemon {
  font-size: 1rem;
  color: #000000;
  font-style: italic;
  text-align: center;
}
